# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.pnpm-store/

# Diagnostic reports (https://nodejs.org/api/cli.html#cli_--diagnostic-dir_directory)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Node.js
/node_modules
/dist
.env
.env.local
.env.*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln

*.bak

# Environment
.env

# Jest
.jest-cache
.eslintcache